extends layout

block content
	div(style='text-align: center;border-bottom: 4px solid;margin-bottom: 30px;')
		h2 Welcome to My Page

	div(style='border-bottom: 1px solid;margin-bottom: 30px;')
		div(style='text-align: center;')
			h3 These Texts Are Rendered From Server
		each item in result ? result : ['There are no values']
			p= item.data

	div(style='text-align: center;')
		h2 End Page
	